@charset "UTF-8";



html {
  scroll-behavior: smooth;
}

.vertical-align{
	width: 300px;
  	height: 100px;
	position: absolute;
	transform: translate(50px,150px);
  	transform: rotate(270deg);
	text-align:center; 
  	vertical-align: middle;
  	display: table-cell;

}



.new-container{
	width:100%; border: 1px solid grey; 
	border-radius: 5px; 
	margin-left:5px; 
	margin-top:55px;
}

#navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
}

#navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#navbar a:hover {
  	background: #ddd;
  	color: black;
}

.advertisement{
	text-align : center;
	display: table; 
	width: 100%;
	background-color:  rgb(230, 255, 231);
}

.container-height{
	height:550px;
}
.container-right{
	border: 1px solid grey;
  	border-radius: 5px;
 	/*-ms-transform: rotate(20deg); /* IE 9 */
  	
}

.container-lower{
	margin-top: 90px;
	
}
.container{
 	border: 1px solid grey;
  	border-radius: 5px;
  	margin-left: 5px;
}
/*
.right-advertisement{
	border-style: solid;
}
*/
.jumbotron{
	padding-top: 10px;		
}



#right-advertisement{
	
	background-color: lightblue;
	border-left: 4px dotted blue;
}

#content{	
	margin-top:50px;
	border: 1px solid grey;
  	border-radius: 5px;
	width: 100%;
	text-align: center;

}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}




