@charset "UTF-8";

.block label { display: inline-block; width: 2 0%; text-align: left; }
.block input{
  -webkit-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  float: right;
  border: 1px solid #DDDDDD;
  width: 70%;
}

.block input:focus {   box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1); 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


.box {
	border: 1px solid #ccc;
	width: 100%;
  	display: flex;
  	vertical-align: middle;
  	align-items: flex-end;
}

.order-block-lower{
	width: 100%;
	margin-top: 10px;
}

.order-product {
	/*text-align: center;
	padding: 10px;*/
  	border: 1px solid #888;
  	border-radius: 5px;
	justify-content: space-evenly;
}

.new-order-product:hover {
	padding: 20px;
  	border: 1px solid #888;
	background-color: rgb(128, 255, 128); 
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  
}


/* The Close Button */
.close {

  margin-right: 0px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



