@charset "UTF-8";

.reply-to{
  display: flex;
  flex-direction: row;
}
.reply-to:before, .reply-to:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.reply-to:before {
  margin-right: 10px
}
.reply-to:after {
  margin-left: 10px
}

.upload-image /*label*/
{
	text-align: center;
}

.upload-image label
{
	text-align: center;
	display: block;
  	width: 100%;
    cursor: pointer;
	border: 2px solid rgb(192, 192, 192); 	/* Gray border */
  	border-radius: 14px;  				/* Rounded border */
  	float: center;
  	background-color:#80ffff;
}

.close {
  cursor: pointer; 
  position: absolute;
  padding: 12px 16px;  
  transform: translate(0%, -50%);  
}


.close:hover {background: #bbb;}


.image{
	width: 50px;
	height:50px;
}
.separator{
	height:2px;
	border-width:0;
	background-color:gray;
}

.Table{
    width: 100%;
    table-layout: fixed;
}

th{
    width: 100%;
    text-align: center;
}

.msg-form{
	
	width:100%;	
}

textarea {
	width: 100%;
	resize: none;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.thumb{
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 100px; /* Set a small width */
  height: 100px; 
}

/* Add a hover effect (blue shadow) */
.thumb:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
/*
input#file {
  display: inline-block;
  width: 100%;
  padding: 120px 0 0 0;
  height: 100px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png') center center no-repeat #e4e4e4;
  border-radius: 20px;
  background-size: 60px 60px;
}
*/


.space {
	background-color: blue;
	width: 100%;
	padding-top: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;

}

.container {
	--parentWidth: 100%;
	width: var(--parentWidth);
	padding: 2px 16px;
	border-radius: 5px;
	border: 1px solid #ccc;
	position: relative;
}

/*
.message{
	width: 90%;
	background-color: #00ff00;
    border-radius: 5px;
    border: 1px solid #000000;
}
*/
.messages-icon{
	width:4%;
	float: left;
}

body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}
.main-body {
    padding: 15px;
}


.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}